body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:2000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1428_div {
  position:absolute;
  left:0px;
  top:0px;
  width:2000px;
  height:150px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-align:left;
}
#u1428 {
  position:absolute;
  left:0px;
  top:0px;
  width:2000px;
  height:150px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-align:left;
}
#u1429 {
  position:absolute;
  left:2px;
  top:50px;
  width:1996px;
  word-wrap:break-word;
}
#u1430_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:28px;
}
#u1430 {
  position:absolute;
  left:61px;
  top:201px;
  width:113px;
  height:40px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:28px;
}
#u1431 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u1432_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:527px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u1432 {
  position:absolute;
  left:61px;
  top:267px;
  width:300px;
  height:527px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u1433 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u1434_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1434 {
  position:absolute;
  left:559px;
  top:225px;
  width:129px;
  height:45px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1435 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u1436_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1436 {
  position:absolute;
  left:559px;
  top:313px;
  width:375px;
  height:667px;
}
#u1437 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1438_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1438 {
  position:absolute;
  left:559px;
  top:313px;
  width:375px;
  height:20px;
  color:#FFFFFF;
}
#u1439 {
  position:absolute;
  left:2px;
  top:1px;
  width:371px;
  word-wrap:break-word;
}
#u1440_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u1440 {
  position:absolute;
  left:559px;
  top:333px;
  width:375px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u1441 {
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  word-wrap:break-word;
}
#u1442_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:117px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1442 {
  position:absolute;
  left:559px;
  top:377px;
  width:375px;
  height:117px;
}
#u1443 {
  position:absolute;
  left:2px;
  top:50px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1444_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:91px;
}
#u1444 {
  position:absolute;
  left:746px;
  top:387px;
  width:1px;
  height:90px;
}
#u1445 {
  position:absolute;
  left:2px;
  top:37px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1446_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1446 {
  position:absolute;
  left:621px;
  top:390px;
  width:57px;
  height:20px;
}
#u1447 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1448_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1448 {
  position:absolute;
  left:812px;
  top:391px;
  width:57px;
  height:20px;
}
#u1449 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1450_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1450 {
  position:absolute;
  left:599px;
  top:415px;
  width:109px;
  height:42px;
}
#u1451 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u1452_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1452 {
  position:absolute;
  left:769px;
  top:417px;
  width:159px;
  height:42px;
}
#u1453 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  white-space:nowrap;
}
#u1454_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
}
#u1454 {
  position:absolute;
  left:574px;
  top:504px;
  width:65px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1455 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1456_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:446px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1456 {
  position:absolute;
  left:559px;
  top:534px;
  width:375px;
  height:446px;
}
#u1457 {
  position:absolute;
  left:2px;
  top:215px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1458_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u1458 {
  position:absolute;
  left:574px;
  top:558px;
  width:50px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1459 {
  position:absolute;
  left:2px;
  top:12px;
  width:46px;
  word-wrap:break-word;
}
#u1460_img {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:2px;
}
#u1460 {
  position:absolute;
  left:574px;
  top:627px;
  width:345px;
  height:1px;
}
#u1461 {
  position:absolute;
  left:2px;
  top:-8px;
  width:341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1462_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1462 {
  position:absolute;
  left:634px;
  top:558px;
  width:85px;
  height:25px;
  font-size:18px;
}
#u1463 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1464_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1464 {
  position:absolute;
  left:873px;
  top:558px;
  width:46px;
  height:21px;
}
#u1465 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u1466_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1466 {
  position:absolute;
  left:634px;
  top:593px;
  width:98px;
  height:16px;
}
#u1467 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  white-space:nowrap;
}
#u1468_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1468 {
  position:absolute;
  left:876px;
  top:589px;
  width:43px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1469 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1470_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u1470 {
  position:absolute;
  left:574px;
  top:638px;
  width:50px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1471 {
  position:absolute;
  left:2px;
  top:12px;
  width:46px;
  word-wrap:break-word;
}
#u1472_img {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:2px;
}
#u1472 {
  position:absolute;
  left:574px;
  top:707px;
  width:345px;
  height:1px;
}
#u1473 {
  position:absolute;
  left:2px;
  top:-8px;
  width:341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1474_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1474 {
  position:absolute;
  left:634px;
  top:638px;
  width:85px;
  height:25px;
  font-size:18px;
}
#u1475 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1476_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1476 {
  position:absolute;
  left:873px;
  top:638px;
  width:46px;
  height:21px;
}
#u1477 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u1478_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1478 {
  position:absolute;
  left:634px;
  top:673px;
  width:98px;
  height:16px;
}
#u1479 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  white-space:nowrap;
}
#u1480_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1480 {
  position:absolute;
  left:876px;
  top:669px;
  width:43px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1481 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1482_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u1482 {
  position:absolute;
  left:574px;
  top:718px;
  width:50px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1483 {
  position:absolute;
  left:2px;
  top:12px;
  width:46px;
  word-wrap:break-word;
}
#u1484_img {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:2px;
}
#u1484 {
  position:absolute;
  left:574px;
  top:787px;
  width:345px;
  height:1px;
}
#u1485 {
  position:absolute;
  left:2px;
  top:-8px;
  width:341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1486_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1486 {
  position:absolute;
  left:634px;
  top:718px;
  width:85px;
  height:25px;
  font-size:18px;
}
#u1487 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1488_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1488 {
  position:absolute;
  left:873px;
  top:718px;
  width:46px;
  height:21px;
}
#u1489 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u1490_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1490 {
  position:absolute;
  left:634px;
  top:753px;
  width:98px;
  height:16px;
}
#u1491 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  white-space:nowrap;
}
#u1492_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1492 {
  position:absolute;
  left:876px;
  top:749px;
  width:43px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1493 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1494_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u1494 {
  position:absolute;
  left:574px;
  top:798px;
  width:50px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1495 {
  position:absolute;
  left:2px;
  top:12px;
  width:46px;
  word-wrap:break-word;
}
#u1496_img {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:2px;
}
#u1496 {
  position:absolute;
  left:574px;
  top:867px;
  width:345px;
  height:1px;
}
#u1497 {
  position:absolute;
  left:2px;
  top:-8px;
  width:341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1498_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1498 {
  position:absolute;
  left:634px;
  top:798px;
  width:85px;
  height:25px;
  font-size:18px;
}
#u1499 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1500_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1500 {
  position:absolute;
  left:873px;
  top:798px;
  width:46px;
  height:21px;
}
#u1501 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u1502_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1502 {
  position:absolute;
  left:634px;
  top:833px;
  width:98px;
  height:16px;
}
#u1503 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  white-space:nowrap;
}
#u1504_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1504 {
  position:absolute;
  left:876px;
  top:829px;
  width:43px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1505 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1506_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u1506 {
  position:absolute;
  left:574px;
  top:878px;
  width:50px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1507 {
  position:absolute;
  left:2px;
  top:12px;
  width:46px;
  word-wrap:break-word;
}
#u1508_img {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:2px;
}
#u1508 {
  position:absolute;
  left:574px;
  top:947px;
  width:345px;
  height:1px;
}
#u1509 {
  position:absolute;
  left:2px;
  top:-8px;
  width:341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1510_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1510 {
  position:absolute;
  left:634px;
  top:878px;
  width:85px;
  height:25px;
  font-size:18px;
}
#u1511 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1512_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1512 {
  position:absolute;
  left:873px;
  top:878px;
  width:46px;
  height:21px;
}
#u1513 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u1514_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1514 {
  position:absolute;
  left:634px;
  top:913px;
  width:98px;
  height:16px;
}
#u1515 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  white-space:nowrap;
}
#u1516_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1516 {
  position:absolute;
  left:876px;
  top:909px;
  width:43px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1517 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1518_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1518 {
  position:absolute;
  left:588px;
  top:459px;
  width:121px;
  height:17px;
  font-size:12px;
}
#u1519 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u1520_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1520 {
  position:absolute;
  left:780px;
  top:459px;
  width:135px;
  height:17px;
  font-size:12px;
}
#u1521 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  white-space:nowrap;
}
#u1522_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:171px;
}
#u1522 {
  position:absolute;
  left:1061px;
  top:417px;
  width:135px;
  height:170px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1523 {
  position:absolute;
  left:2px;
  top:67px;
  width:131px;
  word-wrap:break-word;
}
